.example-header-image {
    background-image: url('../../assets/imgs/user.png');
    background-size: cover;
}

.header-image-carro {
    background-image: url('../../assets/imgs/carro.png');
    background-size: cover;
}

.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
}

.example-full-width {
    width: 100%;
}

.example-right-align {
    text-align: right;
}

.separator {
    height: 4px;
}

.text-align-rigth {
    text-align: right;
}

.mat-card-custom {
    padding-top: 10px !important;
    padding-bottom: 2px !important;
}