<div class="iphone">
  <div class="screen">
    <div class="screen-topo">
      
    </div>
    <router-outlet></router-outlet>
  </div>
  <button class="home" title="Home" [routerLink]="['/']" ></button>
  <span class="speaker" title="Speaker"></span>
  <span class="camera" title="Camera"></span>
  <span class="proximity" title="Proximity Sensor"></span>

  <button class="silence" title="Silence Switch"></button>
  <button class="volume-up" title="Volume Up"></button>
  <button class="volume-down" title="Volume Down"></button>
  <button class="sleep" title="Sleep"></button>
</div>