<button class="icon" [routerLink]="['cadastro']">
    <i class="material-icons">touch_app</i>
</button>
<!-- <button class="icon" [routerLink]="['adesao']"></button>
<button class="icon" [routerLink]="['autorizacao']"></button>
<button class="icon" [routerLink]="['recibocontrato']"></button>
<button class="icon" [routerLink]="['procedimento']"></button>
<button class="icon" [routerLink]="['reciboprocedimento']"></button>
<button class="icon"></button>
<button class="icon"></button>
<button class="icon"></button>
<button class="icon"></button>
<button class="icon"></button>
<button class="icon"></button>
<button class="icon"></button>
<button class="icon"></button> -->
