<button class="icon" [routerLink]="['cadastro']"></button>
<button class="icon" [routerLink]="['adesao']"></button>
<button class="icon" [routerLink]="['autorizacao']"></button>
<button class="icon" [routerLink]="['recibocontrato']"></button>
<button class="icon"></button>
<button class="icon"></button>
<button class="icon"></button>
<button class="icon"></button>
<button class="icon"></button>
<button class="icon"></button>
<button class="icon"></button>
<button class="icon"></button>
<button class="icon"></button>
<button class="icon"></button>
